.grid-container{
    display: grid;
    text-align: center;

    .lista__logos__conjunto{
        list-style: none;
        margin: 0%;
        background-image: url("./Fouzcam/principal.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
    }
}