/* Maps */

$colores:(
    background-color: pink,
);

$tamanio-tipografia: (
    titulos: 24px,
    subtitulos: 20px,
    parrafos: 14px,
    letra-chica: 12px,
);

/* Extend */

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center
};